.fc{
  position: relative;
    z-index: 12;

.fc-toolbar{
  &.fc-header-toolbar{
    @media (max-width:991px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

    }
    .fc-center{
      text-align: center;
      @media (max-width:991px){
        width:100%;
        order:2;
      }
      button{
        background: none;
        border:0!important;
        color: #3f9bc8;
        opacity: 0.6;
  
        &:focus{
          background: none;
          border: 0!important;
          outline:none!important;
          box-shadow:none!important;
       
        }
      }
      h2{
        font-size:$font-16!important;
        color: $navy-blue;
        font-family:  $source-semibold;
        display: inline-block;
      }
    }

    .fc-right{
      text-align: right;
      width:24%;
      @media (max-width:991px){
        order:1;
        width:100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .fc-button-group{
        width:100%;
        display: inline-block;
        button{
           background: none;
           border-color:$theme-blue3;
           color: $black;
           text-transform: capitalize;
           font-size:$font-14;
           font-family:  $source-regular;
           padding:14px 36px;
           border-radius: 5px;
           @media (max-width:991px){
            padding:8px 30px;
           }
    
    
           &:first-child{
             border-radius: 5px 0 0 5px;
           }
           &:last-child{
            border-radius: 0 5px 5px 0;
          }
    
           &.fc-button-active{
             background: $theme-blue2;
             color:$white;
             font-family:  $source-bold;
           }
    
           &:focus{
             box-shadow:none;
           }
        }
       
      }
    }

    .fc-left{
      @media (max-width:991px){
        order:3;
      }
    }


  }






  div{
    width:30%;
  }

  
}

.fc-day-header{
  height:60px!important;
  vertical-align: middle!important;
  background: #92bfdd;
  text-transform: uppercase;
  color: #000;
  font-size:$font-14!important;
  font-family:  $source-semibold;
  font-weight: normal;

  span{
    @media (max-width:575px){
      display: inline-block;
      width: 40px;
      margin: auto;
    }
  }
  @media (max-width:767px){
    border: 0;
  }
}

td 
{
  background: #eaf2f8;
  .fc-day-number{
    color: #000;
    font-size:$font-14;
    font-family:  $source-regular;
    @media (max-width:767px){
      position: relative;
      top:4px;
      float: none!important;
    }
  }

  &.fc-today{
    background: $off-white3!important;
    border-color: #ddd!important;
  }
}



table{
  td{
    @media (max-width:767px){
      border: 0!important;
      text-align: center;
  
      
    }

    &.fc-more-cell{
      .fc-more{
        font-family: $source-semibold;
        font-size:$font-13;
        color: $navy-blue;
        padding-top: 10px;
        padding-left:5px;
        display: inherit;
        line-height: normal;
        @media (max-width:575px){
          font-size:$font-12;
          width: 40px;
          margin: auto;
        }
        &:hover{
          text-decoration:none;
        }
      }
    }
   
  }
}





.fc-dayGrid-view{
  .fc-row{
    min-height:35px!important;
  }
  
  }

  .fc-event-container{
    font-family: $source-regular;
    .fc-day-grid-event{
      color:$white!important;
      padding: 0 10px!important;
      border-radius: 0;
    margin: 2px 0;

      .fc-title{
       font-size:$font-12;
       font-family: $source-bold; 
      }

      .fc-content{
        .fc-description{
          display: none;
        }
        .fc-location{
          display: none;
        }
      }
    }


  }

}


.fc-unthemed {

  .fc-popover{
    width:300px;
    border-radius:10px;
    border:0!important;
    box-shadow: 1px -10px 32px rgba(218, 218, 218, 0.8);

    .fc-header{
      font-family:  $source-bold!important;
      font-size:$font-15!important;
      color:$navy-blue2;
      background: #f0f9ff!important;
      border-bottom: 1px solid #e0eef7!important;
      border-radius: 5px 5px 0 0;

      .fc-title{
        margin: 5px 15px;
      }
      .fc-close{
      opacity: 1;
      font-size: 18px;
        &:before{
          color:$navy-blue2;
      
        }
      }
    }

    .fc-event-container{
      padding: 10px;
      max-height: 500px;
      overflow: auto;
      font-family: $source-regular;

      a{
        margin: 0 0 10px 0;
        padding:10px 15px!important;
        border-radius:8px;
      }

      .fc-content{
        white-space: normal;
        overflow: visible;
      .fc-title{
        font-size:$font-14;
        font-family:  $source-bold;
        color:$white;
        position: relative;
        margin-bottom:5px;
        display: block;
        padding:5px 5px 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 20px);

        &:before{
        content: '';
        position: absolute;
        width: 2px;
        height: 17px;
        background: white;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        }
      }

        .fc-description{
          display: block;
          font-size:$font-13;
        }
        .fc-location{
          display: block;
          font-size: $font-14;
          margin-top: 5px;
          padding-left: 22px;
          position: relative;
          
          &:before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            background: url(../../images/icon-map.png) no-repeat;
            width:13px;
            height:17px;
          }
        }

        .show-more, .hide-more{
        font-family:$source-bold;
        color: $white;
        text-decoration:underline;
        display: block;
        padding:5px 0!important;
        
        &.ui-hide{
          display: none;
        }
       
        }
      }
    
     
    }
  }

}


