.fc{

.fc-toolbar{
  &.fc-header-toolbar{
    @media (max-width:991px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

    }
    .fc-center{
      text-align: center;
      @media (max-width:991px){
        width:100%;
        order:2;
      }
      button{
        background: none;
        border:0!important;
        color: #3f9bc8;
        opacity: 0.6;
  
        &:focus{
          background: none;
          border: 0!important;
          outline:none!important;
          box-shadow:none!important;
       
        }
      }
      h2{
        font-size:$font-16!important;
        color: $navy-blue;
        font-family:  $source-semibold;
        display: inline-block;
      }
    }

    .fc-right{
      text-align: right;
      width:24%;
      @media (max-width:991px){
        order:1;
        width:100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .fc-button-group{
        width:100%;
        display: inline-block;
        button{
           background: none;
           border-color:$theme-blue3;
           color: $black;
           text-transform: capitalize;
           font-size:$font-14;
           font-family:  $source-regular;
           padding:14px 36px;
           border-radius: 5px;
           @media (max-width:991px){
            padding:8px 30px;
           }
    
    
           &:first-child{
             border-radius: 5px 0 0 5px;
           }
           &:last-child{
            border-radius: 0 5px 5px 0;
          }
    
           &.fc-button-active{
             background: $theme-blue2;
             color:$white;
             font-family:  $source-bold;
           }
    
           &:focus{
             box-shadow:none;
           }
        }
       
      }
    }

    .fc-left{
      @media (max-width:991px){
        order:3;
      }
    }


  }






  div{
    width:30%;
  }

  
}

.fc-day-header{
  height:60px!important;
  vertical-align: middle!important;
  background: #92bfdd;
  text-transform: uppercase;
  color: #000;
  font-size:$font-14!important;
  font-family:  $source-semibold;
  @media (max-width:767px){
    border: 0;
  }
}

td 
{
  background: #eaf2f8;
  .fc-day-number{
    color: #000;
    font-size:$font-14;
    font-family:  $source-regular;
    @media (max-width:767px){
      position: relative;
      top:4px;
      float: none!important;
    }
  }

  &.fc-today{
    background: #f0f9ff!important;
    border-color: inherit!important;
  }
}



table{
  td{
    @media (max-width:767px){
      border: 0!important;
      text-align: center;
  
      
    }
   
  }
}





.fc-dayGrid-view{
  .fc-row{
    min-height:35px!important;
  }
  
  }

  .fc-event-container{
    .fc-day-grid-event{
      color: $white!important;
      padding: 0 10px!important;
    }
  }

}


.fc-unthemed {

  .fc-popover{
    border-radius:10px;
    width:300px;
    border:0!important;
    box-shadow: 1px 3px 8px 0 rgba(232, 232, 232, 0.49);

    .fc-header{
      display: none;
    }

    .fc-event-container{
      padding: 20px;
    
     
    }
  }

}


