.banner-section{
  background: $off-white;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:145px;
    height:850px;
    background: url(../../images/banner-path.png) no-repeat;
    z-index: 1;
  }
  .banner-content{
    text-align: left; 
    padding :261px 0 200px 0;
    position: relative;
    z-index: 1;

    h1{
      font-size: $font-65;
      font-family: $source-bold;
      color: $theme-blue;
      font-weight:bold;
      position: relative;
      margin-bottom: 15px;

      &:before{
        content: '';
        position: absolute;
        top:-27px;
        left: 0;
        width:50px;
        height:5px;
        background:  $theme-blue;
      }
    }

    h2{
      font-size: $font-50;
      font-family:  $source-regular;
      color: $navy-blue;
    }

    p{
      font-family:  $source-regular;
      font-size:$font-21;
      color: $navy-blue-light1;
      line-height: 1.43;
      max-width: 420px;
    }
  }

  .banner-search{
    display: flex;
    align-items: center;
    margin: 50px 0 34px 0;

    input{
      width:340px;
      height:60px;
      line-height: 60px;
      background: $white;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
      border-top: 0;
      border-bottom: 0;
      border-left: 3px solid $theme-blue;
      border-right: 0;
      padding:5px 13px;
      font-size: $font-16;
        font-family:  $source-regular;
        color: $navy-blue-light1;

        &:focus{
          outline: 0;
        }

      &::placeholder{
        font-size: $font-13;
        font-family:  $source-regular;
        color: $navy-blue-light1;
      }
    }

    button{
      width:70px;
      height:60px;
      background:  $theme-blue;
      border: 0;

      &:focus{
        outline: none;
      }
    }
  }

  .banner-image{
    position: absolute;
    right: 0;
    top:90px;
    

    img{
      @media (min-width:1100px) and (max-width:1200px){
        max-width:570px;
      }

      @media (min-width:1200px) and (max-width:1300px){
        max-width:690px;
      }
    }
  }

  .safty-note{
    display: block;
    font-size: $font-16;
    font-family:  $source-regular;
    color: $navy-blue;
    padding-left: 35px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width:24px;
      height:29px;
      background: url(../../images/sheild-icon.png) no-repeat;
      background-size:24px;
    }

    a{
     color:  $theme-blue; 
     position: relative;
     &:after{
      content: '';
      position: absolute;
      left: inherit;
      right: -20px;
      top: 50%;
      margin-top: 2px;
      transform: translateY(-50%);
      width:17px;
      height:11px;
      background: url(../../images/caret-down-blue.png) no-repeat;
     }
     &:hover{
       text-decoration: none;
     }
    }
  }
}
.watermark-title-section {
  padding: 80px 0 30px 0;
  p{
    font-size: $font-19;
    font-family:  $font-regular;
    color: $navy-blue-light1;
    max-width: 900px;
    margin: auto;

  }

  h4{
    font-size:$font-36;
    color:$navy-blue;
    font-family:$source-bold; 
    margin-bottom: 30px;
  }
}

.watermark-title{

  position: relative;
  span{
    display: block;
    font-size:$font-90;
    color:$light-blue2;
    font-family:  $source-bold;
    font-weight: bold;
  }

  h3{
    font-size:$font-40;
    color: $navy-blue;
    font-family:  $source-bold;
    font-weight: bold;
    position: absolute;
    top: 57%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(-50%);

    &:before{
      content: '';
      position: absolute;
      top:-150px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:50px;
      height:5px;
      background:  $theme-blue;
    }
  }


}



.culture-graph-section{
  padding-bottom: 50px;
  .row{
    margin-top: 100px;
  }

  .culture-block{
    background: $white;
    border-radius: 9px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.14);
    padding: 40px 20px;
    margin: 50px 0;

    @media (min-width:992px) and (max-width:1199px){
      min-height: 332px;
    }

    img{
      max-width: 100%;
    }

    h4{
      font-size:$font-16;
      color:$navy-blue;
      font-family:  $source-bold;
      margin-bottom: 20px;

    }
    p{
      font-size: $font-14;
      font-family:  $font-regular;
      color: $navy-blue-light1;
      line-height: 1.78;
      max-width: 300px;
      margin: auto;
    }

    img{
      position: relative;
      top: -100px;
      margin-bottom: -70px;
  
    }
  }
}


.explore-section{
  background: $off-white;
  padding-bottom:40px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top:60%;
    left: 0;
    width:148px;
    height:206px;
    background: url(../../images/dotted-pattern.png) no-repeat;

  }

  &:after{
    content: '';
    position: absolute;
    top:35%;
    right: 0;
    width:148px;
    height:206px;
    background: url(../../images/dotted-pattern.png) no-repeat;

  }

  .row{
    margin-top: 20px!important;
  }

  .explore-graph{
text-align:left ;
  }

  .explore-detail{
    text-align: right;
    a{ font-size:$font-16;
      color:$white;
      font-family:$source-bold;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 212px;
      height:58px;
      margin:15px;
      padding: 10px;
      background: #000;
      border-left: 7px solid #ccc;

      @media (min-width:992px) and (max-width:1199px){
        margin: 6px;
      }

      &.holi{
        border-color: $aqua-forest;
        background: rgba($color: $aqua-forest, $alpha: 0.8);
      }
      &.herring{
        border-color: $tiber;
        background: rgba($color: $tiber, $alpha: 0.8);
      }
      &.hogmanay{
        border-color: $lochinvar;
        background: rgba($color: $lochinvar, $alpha: 0.8);
      }
      &.donauinselfest{
        border-color:  $turquoise-blue;
        background: rgba($color:  $turquoise-blue, $alpha: 0.8);
      }
      &.carnevale{
        border-color: $matisse;
        background: rgba($color: $matisse, $alpha: 0.8);
      }
      &.primavera{
        border-color: $wine-berry;
        background: rgba($color:  $wine-berry, $alpha: 0.8);
      }
      &.let-it-roll{
        border-color: $minsk;
        background: rgba($color:  $minsk, $alpha: 0.8);
      }
      &.soccer{
        border-color: $blue-bayoux;
        background: rgba($color: $blue-bayoux, $alpha: 0.8);
      }
      &.becon{
        border-color:  $old-gold;
        background: rgba($color:  $old-gold, $alpha: 0.8);
      }
      &.tabletennis{
        border-color: $tuscany;
        background: rgba($color:  $tuscany, $alpha: 0.8);
      }

      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }

    }

  
  }
}


.our-mission-section{
  padding-top:35px;
  .watermark-title-section{
    text-align: left;

    .watermark-title{
      span{
        line-height: 0.8;
      }

      h3{
        top: 40%;
        line-height: 1.5;

        &::before{
          margin-left: 0;
        }
      }
    }
  }

  .our-mission-content{
    text-align: left;
    p{
      font-size: $font-19;
      font-family: $source-regular;
      color:$light-purple;
      line-height: 1.78;
    
    }
  }

  .our-mission-img{
    padding: 80px 0;
  }
}



.culture-map-section{
  img{
    max-width:100%;
  }
}

.how-it-work-section{
  background: $off-white;

  .watermark-title-section{
    p{
      max-width:inherit;
    }
  }


.work-graph{
  
  position: relative;
  padding-bottom:20px;
  &:after{
    content: '';
    position: absolute;
    height: 65%;
    width: 1px;
    border: 1px dashed #489ccb;
    left: 0;
    top: -15px;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}


.work-graph-row{
display: flex;
align-items: center;
justify-content: center;
margin:50px 0;
  .img-block{
    width:40%;
  }
  .graph-no{
    width:20%;
   
    span{
      width:80px;
      height:80px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: $white;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
      border-radius: 26px;
      position: relative;
      z-index: 1;
      small{
        font-family:  $source-bold;
        color:$light-blue;
        font-size: $font-34;
        font-weight: bold;
      }
    }
  }
  .content-block{
    width:40%;

    p{
      font-family:  $source-semibold;
      color: $light-purple;
      font-size: $font-21;
   
    }
  }
}






}


.our-client-section{

  background: $white;
  padding-bottom:75px;

  .client-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div{
      width: 194px;
      height:235px;
      background: $white;
      border-radius: 16px;
  box-shadow: 0 2px 13px 0 #def2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:30px;
    }
  }
}

