
.user-wrapper {
	background: $theme-color-light;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	@media (max-width:767px){
		flex-wrap: wrap;
	}
}

.user-banner {
	width: 60%;
	padding: 50px 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	@media (max-width:767px){
		width:100%;
		padding:0;
	}
	@media (min-width:768px) and  (max-width:1099px){
		padding: 50px 40px;
		width:50%;
	}


	img{
		@media (max-width:767px){
			width:238px;
			height:201px;
			margin: 20px auto;
		}

		@media (min-width:768px) and  (max-width:1099px){
			max-width:350px;
		}
	}
	.logo {
		position: absolute;
		top: 30px;
		left: 8%;
		width: inherit;
		height: inherit;
		@media (max-width:767px){
			display: none;
		}
	}
	h1 {
		font-size: $font-36;
		font-family: $source-bold;
		color: $navy-blue;
		letter-spacing: 0.38px;
		text-align: left;
		line-height: 1.2;
		margin-top: 40px;
		max-width: 636px;

		@media (max-width:767px){
			display: none;
		}
	}

	.signup-banner{
		@media (max-width:767px){
			display: none;
		}
	}
}

.user-form {
	width: 40%;
	height: 100vh;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px 100px;
	overflow: auto;
	position: relative;
	@media (max-width:767px){
		width: 100%;
		padding:30px 20px;
		align-items: flex-start;
	}
	@media (min-width:768px) and  (max-width:1099px){
		width:50%;
		padding: 50px 40px;
	}
	.user-form-inner {
    width: 100%;
    text-align: left;
		h2 {
			font-size: $font-36;
			font-family: $source-bold;
			color: $navy-blue;
			margin-bottom: 20px;
		}
		h3 {
			font-size: $font-16;
			font-weight: normal;
			color: $navy-blue;
			opacity: 0.65;
			margin-bottom: 40px;
			@media (max-width:767px){
				font-size: $font-13;
			}
		}
		.close-icon {
			position: absolute;
			top: 30px;
			right: 100px;
			cursor: pointer;
			@media (max-width:767px){
				right:20px;
				top:40px;
			}
			@media (min-width:768px) and  (max-width:1099px){
				right:40px;
			}
		}

		.form-group{
			button{
				@media (max-width:767px){
					max-width:250px;
					margin: 0 auto 70px auto;
				}
			}
		}

		&.forgot-password{
			text-align: center;

			h2{
				font-size:$font-28;
				width: calc(100% + 200px);
				margin-left: -100px;
			}

			.email-sent-icon{
				margin-bottom: 30px;
			}

			.code-wrapper{
				margin: 40px 0;
				.code{
					color: $navy-blue1;
					font-size:$font-34;
					font-family: $source-regular;
					border: 1.1px solid $light-gray;
					border-radius:5px;
					width:60px;
					height:73px;
				}
			}

			.resend-mail{
				font-size: $font-18;
				color: $light-blue;
				text-decoration:underline;
				margin-bottom: 30px;
				display: block;
			}
		}

		&.password-change-success{
			text-align: center;

			h2{
				font-size:$font-28;
				width: calc(100% + 200px);
				margin-left: -100px;
			}

			h3{
				max-width:370px;
				line-height: 1.5;
				margin-left: auto;
				margin-right: auto;
			}

			.icon-success{
				margin-bottom: 40px;
			}

			.backfrom-password{

			}


		}
	}
	.account-status {
		color: $light-purple;
		font-family: $source-regular;
		font-size: $font-18;
		font-weight: normal;
		position: fixed;
		top: auto;
		bottom: 0;
		left: auto;
		right: auto;
		background: #fff;
		width: 30%;
		text-align: center;
		padding: 18px 0;
		@media (max-width:767px){
			width:100%;
			z-index: 1;
			height: 80px;
			
			
		}
		a {
			font-family: $source-semibold;
			color: $light-blue;
		}
	}

	.backto-signin{
		font-size:18px;
		font-family: $source-regular;
		color: $light-blue;
		text-decoration:underline;
		display: block;
		text-align: center;
		margin-top:20px;
	}
}

.form-group {
	position: relative;
	margin-bottom: 20px;

	&.field-outline-error{

		.form-control{
			border-color:$red;
		}

	}
	label {
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
		left: 15px;
		font-size: $font-15;
		color: $navy-blue-light;
    font-family: $source-regular;
    transition: 0.2s all ease-in-out;
  }
  

}

.form-control {
	font-size: $font-16;
	color: $navy-blue!important;
	font-family: $source-regular;
  border: 1.1px solid $light-gray;
  border-radius: 5.6px;
  height: 73px;
  padding: 32px 60px 0 15px;
  background: none;
  position: relative;
  z-index: 1;
	&:focus {
		outline: none;
    box-shadow: none;
    border-color:$light-gray;
    z-index:inherit;
    & + label{
      top:25px;
    }
  }
  
  &::placeholder{
   opacity:0;
  }

}

.form-control:not(:placeholder-shown)  + label{
  top:25px;
}

.field-group {
position: relative;
 .close-data{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
	cursor: pointer;
 }

	.show-action {
		font-family: $source-semibold;
		font-weight: normal;
		color: $navy-blue;
		font-size: $font-15;
		position: absolute;
		z-index: 1;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
}

.field-error {
	color: $red;
	font-size: $font-12;
	font-family: $source-regular;
	position: relative;
  top: 5px;
  left: 0;
    display: block;
}


.forgot-password-link {
	text-align: right;
	display: block;
	color: $light-purple;
	font-size: $font-15;
	font-family: $source-regular;
	text-decoration: underline;
	padding: 10px;
	&:hover {
		text-decoration: underline;
		color: $light-purple;
	}
}

.ui-hide {
	display: none;
}



//change password start here..

.change-password{
.modal-dialog{
	max-width:830px;
}

form{

	border-top: 1px solid $light-gray;
		margin-top: 20px;
		
		.form-group {
			margin-bottom: 30px;
		
			.show-action{
				transform: translateY(0%);
			}
		}

.form-control{
	border-top:0 ;
	border-left:0 ;
	border-right:0 ;
	border-radius:0;
	padding-left: 0;
	padding-bottom: 5px;
	font-size:$font-20;
	&::placeholder{
	opacity: 0.5;
	font-size: $font-16;
	color: $navy-blue;
	}

	
}

.form-control + label{

	top:20px;
	left:0;
	text-transform: uppercase;
	font-size: $font-13;
	color: $navy-blue;
	letter-spacing: 1.08px;
}

button{
	font-family: $source-bold!important;
}

}




}

//change password ends here..


.reset-password-form{

	.form-group{
		margin-bottom: 40px;
	}
}

