/**
 * Colors
 */
 
 $white: #ffffff;
$theme-color-light: #f0f9ff;
$navy-blue: #272f56;
$navy-blue1: #3a476d;
$navy-blue-light: #7d84a8;
$light-gray: #e4e4e4;
$light-gray1: #80828c;
$light-gray2: #e4dfdf;
$light-purple: #57607f;
$red: #f00;
$red1: #ea6868;
$green: #45b69f;
$light-blue: #2499d6;
$light-blue1: #74b5e5;
$light-black: #080808;
$light-black1: #383838;

 
 //SIZES
 $font-10:   10px;
 $font-11:   11px;
 $font-12:   12px;
 $font-13:   13px;
 $font-14:   14px;
 $font-15:   15px;
 $font-16:   16px;
 $font-18:   18px;
 $font-20:   20px;
 $font-22:   22px;
 $font-24:   24px;
 $font-25:   25px;
 $font-26:   26px;
 $font-28:   28px;
 $font-30:   30px;
 $font-32:   32px;
 $font-34:   34px;
 $font-35:   35px;
 $font-36:   36px;
 $font-40:   40px;
 $font-50:   50px;
 $font-53:   53px;
 $font-60:   60px;
 
 //FAMILIES

 $font-regular: 'poppinsregular', Helvetica, sans-serif;

 $source-regular: 'source_sans_proregular', Helvetica, sans-serif;

 $source-semibold: 'source_sans_prosemibold', Helvetica, sans-serif;

 $source-bold: 'source_sans_probold', Helvetica, sans-serif;


 // BORDERS RADIUS
 
 $br-50: 50%;
 $br-4: 4px;
 $br-5: 5px;
 $br-2: 2px;
 $br-3: 3px;
 $br-15: 15px;
 $br-22: 22px;
 $br-100: 100px;
 
