/**
 * Colors
 */
 
 $white: #ffffff;
 $off-white: #fbfeff;
$theme-color-light: #f0f9ff;
$navy-blue: #272f56;
$navy-blue1: #3a476d;
$navy-blue2: #011f2e;
$navy-blue-light: #7d84a8;
$navy-blue-light1: #a1aac7;
$light-gray: #e4e4e4;
$light-gray1: #80828c; 
$light-gray2: #e4dfdf;
$light-gray3: #cdd1d6; 
$light-purple: #57607f;
$red: #d50000;
$red1: #ea6868;
$green: #45b69f;
$light-blue: #2499d6;
$light-blue1: #74b5e5;
$light-blue2: #e6f0f7;
$theme-blue: #489ccb;
$light-black: #080808;
$light-black1: #383838;


 //explore chart color
 $aqua-forest: #5FA47A;
 $tiber: #0A2D38;
 $lochinvar: #2F9480;
 $turquoise-blue: #57E2E5;
 $matisse: #1977a8;
 $wine-berry: #36112e;
 $minsk: #3f3982;
 $blue-bayoux: #4c5f82;
 $old-gold: #c5a932;
 $tuscany: #bf6229;
 
 //SIZES
 $font-10:   10px;
 $font-11:   11px;
 $font-12:   12px;
 $font-13:   13px;
 $font-14:   14px;
 $font-15:   15px;
 $font-16:   16px;
 $font-18:   18px;
 $font-19:   19px;
 $font-20:   20px;
 $font-21:   21px;
 $font-22:   22px;
 $font-24:   24px;
 $font-25:   25px;
 $font-26:   26px;
 $font-28:   28px;
 $font-30:   30px;
 $font-32:   32px;
 $font-34:   34px;
 $font-35:   35px;
 $font-36:   36px;
 $font-40:   40px;
 $font-50:   50px;
 $font-53:   53px;
 $font-60:   60px;
 $font-65:   65px;
 $font-70:   70px;
 $font-90:   90px;
 
 //FAMILIES

 $font-regular: 'poppinsregular', Helvetica, sans-serif;

 $source-regular: 'source_sans_proregular', Helvetica, sans-serif;

 $source-semibold: 'source_sans_prosemibold', Helvetica, sans-serif;

 $source-bold: 'source_sans_probold', Helvetica, sans-serif;


 // BORDERS RADIUS
 
 $br-50: 50%;
 $br-4: 4px;
 $br-5: 5px;
 $br-2: 2px;
 $br-3: 3px;
 $br-15: 15px;
 $br-22: 22px;
 $br-100: 100px;
 
